.bg-phone {
  background-image: url(../img/brain.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
div.bg {
  height: 300px
}
div.bg-head {
  background-image: url(../img/head.jpg);
  background-size: cover;
}
div.bg-ai {
  background-size: cover;
  background-image: url(../img/hand.png);
}
section.area-white {

}
section.area-gray {
  background: #DDD;
}
section.area-gray-light {
  background: #EEE;
}
section.area-blue {
  background: blue;
}
p.text-blue {
  color: blue;
}
img.card-top-img {
  object-fit: cover;
}
